/* --- FONTS --- */

body{
	font-family: "Raleway";
}

.titre{
	font-family: "Orbitron";
}

.galerie{
	font-family: "Pacifico";
}

/* --- RESPONSIVE --- */

@media all and (max-width: 992px)
{
	body{
		font-size:calc(10px + 1.5vw);
	}

	.flexbox-telephone{
		display: block;
	}

	.flex-telephone-div{
		width: 100%;
	}

	.corps{
		width: 100%;
	}

	.discord-index{
		width: 40%
	}

	.photos_venir{
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.public{
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
	
	.niveau{
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	.soutenu-par-footer{
		margin-left: auto; 
		margin-right: auto;
		display: block;
	}

}

@media all and (min-width: 992px)
{
	.flexbox-telephone{
		display: flex;
		justify-content: space-around;
	}

	.flex-telephone-div{
		width: 50%;
	}

	.corps{
		width: 75%;
	}

	.discord-index{
		width: 50%;
	}

	.photos_venir{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	.public{
		margin-top: 0;
		margin-bottom: 1.5rem;
	}
	
	.niveau{
		margin-top: 1.5rem;
		margin-bottom: 0;
	}

	.soutenu-par-footer{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

}


/* --- COULEURS --- */

.couleur-discord{
	color: #7289DA;
}

.couleur-facebook{
	color: #3b5998;
}

.couleur-twitter{
	color: #00acee;
}

/* --- EFFETS --- */
body{
	min-height: 100vh;
	display: grid;
    grid-template-rows: auto 1fr auto;
}

nav{
	box-shadow: 0px 10px 10px -10px rgba(0,0,0,.25);
}

footer{
	box-shadow: 0px -10px 10px -10px rgba(0,0,0,.25);
}

scroll-behavior: smooth;

/* --- TAILLES --- */

.fiche-atelier{
	width: 60%;
}
