{% extends 'base.html'%}
{% load static %}

{% block titre %}Lab-Ouest About{% endblock %}

{% block body %}

<div class="mx-auto corps fiche-atelier">

    <div class="d-flex my-5 mx-auto pr-5">

        <div class="w-50 mx-auto text-center">
            <img src="{% static 'img/logo.jpg' %}" class="w-50">
        </div>

        <div class="w-50 mx-auto text-center">
            <h1 class="titre text-center my-auto ml-5">LES ATELIERS</h1>
        </div>

    </div>

    <hr class="solid">

    <headers class="mx-auto pr-5">

        <div class="w-75 mx-auto">
            <h3 class="mt-3">Thème {{atelier.theme}}</h3>
        </div>

        <div class="w-75 mx-auto">
            <h4 class="my-auto pl-3 text-secondary titre-atelier">{{atelier.titre}}</h4>
        </div>

    </headers>
    <div class="text-center my-3">
        <img src="{{ atelier.image.url }}" class="mx-auto w-75 image-atelier">
        <img src="{{ atelier.miniature.url}}" class="minia-atelier"
            style="display: none;">
    </div>

    <div class="w-75 mx-auto my-5">
        <h5 class="my-3 titre">OBJECTIF</h5>

        <p>
            {{atelier.objectif}}
        </p>
        <div class="flexbox-telephone">

            <div class="flex-telephone-div w-50">
                <h5 class="my-3 titre">POINTS ABORDES</h5>
                <ul>
                    {% for point in atelier.points_list %}
                        <li>{{point}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="flex-telephone-div w-50 public-niveau">
                <div class="mb-5 public">
                    <h5 class="my-3 titre">PUBLIC</h5>

                    <p>{{atelier.publique}}</p>
                </div>

                <div class="mt-5 niveau">
                    <h5 class="my-3 titre">NIVEAU</h5>

                    <p>{{atelier.niveau}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}