{% extends 'base.html'%}
{% load static %}

{% block titre %}Lab-Ouest Calendrier{% endblock %}

{% block body %}
<div class="w-75 mx-auto corps">

    <h1 class="text-center mx-auto my-4 titre">CALENDRIER DES ATELIERS</h1>
    <h3 class="text-center mx-auto my-3">Les Ateliers sont proposés le <u>mardi soir</u>.</h3>


    <div class="mx-auto text-center mt-3 mb-5">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FParis&amp;src=aTJ1cDNsZnR2dGkyOWJsOHJhbWxxdG51bzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F6BF26&amp;showTitle=1&amp;title=Ateliers%20Lab-Ouest&amp;showTz=0&amp;mode=MONTH"
            style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</div>
{% endblock %}