{% load static %}
<nav class="navbar navbar-light navbar-expand-lg text-primary py-1 bg-body rounded sticky-top"
    style="background-color: #ffffff;">


    <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo.jpg' %}" width="130">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'index' %}">Accueil</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'news' %}">News</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'ateliers' %}">Les Ateliers</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'calendrier' %}">Calendrier des Ateliers</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'machines' %}">Les Machines</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'tarifs' %}">Tarifs</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'adhesion' %}">Bulletin d'adhésion</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'galerie' %}">La Galerie</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'about' %}">Qui sommes-nous ?</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'utilisateur' %}">{{ user.username }}</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'account_login' %}">Connexion</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link text-primary" href="{% url 'account_signup' %}">Inscription</a>
            </li>
            {% endif %}


        </ul>

    </div>
</nav>