{% extends 'site_web/base.html'%}
{% load static %}

{% block titre %}Lab-Ouest About{% endblock %}

{% block body %}
<div class="w-75 mx-auto corps">
    <div class="card text-center mx-auto my-3 w-75 border-0">
        <img src="{% static 'img/logo_index.jpg' %}" class="card-img-top" alt="Logo INDEX">
    </div>

    <h1 class="text-center mx-auto my-4 titre">QUI SOMMES NOUS ?</h1>

    <div class="text-center mx-auto my-4">
        <img src="{% static 'img/qui_sommes_nous.jpg' %}">
    </div>
    <h3 class="text-center mx-auto my-5">Lab-Ouest est un <b>tiers-lieu</b> associatif à La Roche-sur-Yon qui est ouvert
        à tous les publics. Dans cet espace sont mis à disposition toutes sortes d'outils pour la conception et la
        réalisation d'objets.</h3>

    <h3 class="text-center mx-auto my-5">C'est un endroit de <b>création collaborative</b> qui encourage
        <b>l’expérimentation</b>, la pratique et la réalisation de tous types de projets. Dans un esprit d'<b>échanges
            des savoir-faire</b> et des connaissances, on peut s'initier à différentes technologies. On y trouve aussi
        des <b>ressources matérielles</b> telles que : des imprimantes 3D, des outils de découpes, des cartes
        électroniques de prototypage, des robots d'apprentissage, etc.
    </h3>

    <h3 class="text-center mx-auto my-5">Ce tiers-lieu s'adresse aux créateur.trice.s, bricoleur.e.s, étudiant.e.s
        entrepreneur.se.s, et hacker.euse.s en tous genres, qui veulent <b>faire évoluer leurs projets</b>, du concept à
        la réalisation.</h3>
</div>

{% endblock %}