{% load static %}
<script src="https://kit.fontawesome.com/9a8b71a74b.js" crossorigin="anonymous"></script>

<footer class="sticky-bottom bg-light w-100 py-2 mt-auto flexbox-telephone">

    <img src="{% static 'img/soutenu_par.jpg' %}" class="soutenu-par-footer">

    <address class="ml-5 pl-5 w-75 flex-telephone-div my-auto">
        <p>
            Adresse : <a href="https://maps.google.com/?q=lab-ouest" target="blank">123 Boulevard Louis Blanc</a> à La
            Roche Sur Yon (85)<br>
            Adresse mail : <a href="mailto:contact@lab-ouest.org" target="blank">contact@lab-ouest.org</a><br>
        </p>
    </address>

    <div class="text-center mx-auto flex-telephone-div">
        <h5 class="text-center mx-auto"><i>#SUIVEZ-NOUS</i></h5>

        <a href="https://discord.gg/jcD5eFf" target="blank"><span
                class="fab fa-discord fa-3x mx-2 couleur-discord"></span></a>
        <a href="https://www.facebook.com/labouest/" target="blank"><span
                class="fab fa-facebook-square fa-3x mx-2 couleur-facebook"></span></a>
        <a href="https://twitter.com/labouest" target="blank"><span
                class="fab fa-twitter-square fa-3x mx-2 couleur-twitter"></span></a>
    </div>

</footer>

<div class="text-right bg-light">
    <p style="font-size: 12px">Made by <a href="http://asionville.github.io">Aubin SIONVILLE</a></p>
</div>