{% extends 'base.html'%}
{% load static %}

{% block titre %}Lab-Ouest Tarifs{% endblock %}

{% block body %}
    <div class="m-5">
        <div class="d-flex justify-content-evenly mh-50">
            <div class="d-flex flex-column justify-content-center">
                <img class="w-auto h-auto mb-2" src={{ utilisateur.img }}/>
                <h2 style="text-align: center">
                    {{ utilisateur.username }}
                </h2>
            </div>
            <div class="d-flex flex-column justify-content-evenly">
                <div class="d-flex flex-column justify-content-center">
                    <h3>{{ utilisateur.first_name }} {{ utilisateur.last_name}}</h3>
                    {% if utilisateur.pseudo_discord %}
                        <h3 class="d-flex flex-row "><img src="{% static 'SVG/discord-brands.svg' %}" style="margin-right: 1rem; height: 2rem; width: 2rem"/>{{ utilisateur.pseudo_discord }}</h3>
                    {% endif %}
                    {% if utilisateur.github %}
                        <h3 class="d-flex flex-row"><img src="{% static 'SVG/github-brands.svg' %}" style="margin-right: 1rem; height: 2rem; width: 2rem"/>{{ utilisateur.github }}</h3>
                    {% endif %}
                </div>
                <div class="">
                    <p>Nombre de crédit: {{ utilisateur.credit }}</p>
                    {% if utilisateur.subscriptionDate %}
                        <p>Date d'adhésion: {{ utilisateur.subscriptionDate }}</p>
                    {% endif %}
                </div>
                <div class="justify-content-end" style="text-align: end">
                    <a class="btn btn-outline-secondary" href="{% url 'edit_utilisateur' %}">Editer</a>
                </div>
        </div>
        </div>
    
        <div class="mt-5 w-75 " >
            <h2 class="text-capitalize fw-bold text-decoration-underline">
                compétence:
            </h2>
            <div class="d-grid" style="display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 10px;
                column-gap: 5%;">
                {% for key, value in competences.items %}
                    <div class="p-2">
                        <p>{{key}}:</p>
                        <div class="progress ">
                            <div class="progress-bar" role="progressbar" style="width: {{ value }}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}