{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Password Reset" %}</h1>
    
    <div class="bg-white rounded shadow p-5 d-flex justify-content-center flex-column">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-center">{% blocktrans %}Nous vous avons envoyé un e-mail. Si vous ne l'avez pas reçu, vérifiez votre dossier spam. Sinon, contactez-nous si vous ne le recevez pas dans quelques minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
