{% extends 'base.html'%}
{% load static %}

{% block titre %}Lab-Ouest New{% endblock %}

{% block body %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v10.0"
    nonce="73B8VRvG"></script>
<div class="w-75 mx-auto text-center corps">

    <div class="card text-center mx-auto my-3 w-75 border-0">
        <img src="{% static 'img/logo_index.jpg' %}" class="card-img-top" alt="Logo INDEX">
    </div>

    <h1 class="text-center mx-auto mt-4 titre">LES NEWS</h1>

    <div class="flexbox-telephone text-center mt-5 mb-3">

        <div class="fb-page mx-auto my-5 flex-telephone-div" data-href="https://www.facebook.com/labouest"
            data-tabs="timeline" data-width="500" data-height="809" data-small-header="true"
            data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/labouest" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/labouest">Lab Ouest</a>
            </blockquote>
        </div>

        <div class="flex-telephone-div mx-auto my-auto mt-3 mb-5 text-center border-0">
            <h3>Vous pouvez suivre notre actualité sur :</h3>

            <ul class="my-5">
                <li style="list-style-type: none" class="my-3">
                    <a href="https://www.facebook.com/labouest/" class="couleur-facebook" target="blank">
                        <h5>
                            <span class="fab fa-facebook-square fa-3x mx-2 my-auto"></span>
                            Notre Page Facebook
                        </h5>
                </li>

                <li style="list-style-type: none" class="my-3">
                    <a href="https://discord.gg/jcD5eFf" class="couleur-discord" target="blank">
                        <h5>
                            <span class="fab fa-discord fa-3x mx-2 my-auto"></span>
                            Notre Serveur Discord
                        </h5>
                    </a>
                </li>

                <li style="list-style-type: none" class="my-3">
                    <a href="https://twitter.com/labouest" class="couleur-twitter" target="blank">
                        <h5>
                            <span class="fab fa-twitter-square fa-3x mx-2 my-auto"></span>
                            Notre Compte Twitter
                        </h5>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>
{% endblock %}